*{box-sizing: border-box}
.header{
    color: white;
    text-align: center;
    font-size: 6vw;
    padding: 10px;
    background-color: grey;
}
.container::after{
    content: "";
    display: table;
    clear: both;
}
.menu{
    width: 25%;
    float: left;
    padding: 15px 15px 15px 0;
}
.menu ul{
    list-style-type: none;
}
.menu li{
    background-color: deepskyblue;
    margin-bottom: 8px;
    color: white;
    padding: 8px;
    text-align: center;
}
.menu li:hover{
    background-color:  #0099cc;
}
.content{
    width: 75%;
    padding: 15px;
}
.footer{
    color: white;
    padding: 15px;
    background-color: grey;
    text-align: center;
}